{% extends "core/base.html" %}
{% load static %}
{% block title %} my - projects {% endblock title%}


{% block content %}

<div class=" mt-5 container text-center">
    <h3>projects</h3>
    <hr>

    <div class="row ">

		<div class="col-sm-3 my-3 px-3">
        	<div class="card   border">
  				<div class="card-body text-center">
					<h5 class="card-title">e-commerce-web-app</h5>
					<hr>
    				<p class="card-text">A full-fledged e-commerce web app built using the power of Django</p>
    				<hr>
					<a class="text-black fa-lg mx-2" href="https://github.com/ycisir/e-commerce-web-app"><i class="fa-brands fa-github"></i></a>
			        <a class=" fa-lg mx-2" href="https://shoppinglyx-efsn.onrender.com/"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
				</div>
			</div>
        </div>

        <div class="col-sm-3 my-3 px-3">
        	<div class="card   border">
				<div class="card-body text-center">
    				<h5 class="card-title">pushups-logger</h5>
    				<hr>
    				<p class="card-text">Developed CRUD functionality to manage pushup workout data.</p>
				    <hr>
			        <a class="text-black fa-lg mx-2" href="https://github.com/ycisir/pushups-logger"><i class="fa-brands fa-github"></i></a>
			        <a class=" fa-lg mx-2" href="https://pushups-logger-5ox4.onrender.com/"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
				</div>
			</div>
        </div>

        <div class="col-sm-3 my-3 px-3">
        	<div class="card   border">
				<div class="card-body text-center">
    				<h5 class="card-title">flask-RESTful-api</h5>
    				<hr>
    				<p class="card-text">Developed a Todo API using Flask RESTful for managing todo items.</p>
    				<hr>
				    <a class="text-black fa-lg mx-2" href="https://github.com/ycisir/flask-rest-api"><i class="fa-brands fa-github"></i></a>
			        <a class=" fa-lg mx-2" href="https://flask-rest-api-2a3p.onrender.com/"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
				</div>
			</div>
        </div>

        <div class="col-sm-3 my-3 px-3">
        	<div class="card   border">
  				<div class="card-body text-center">
					<h5 class="card-title">air-canvas</h5>
					<hr>
    				<p class="card-text">Developed a virtual canvas using OpenCV and MediaPipe for writing in air.</p>
    				<hr>
					<a class="text-black fa-lg mx-2" href="https://github.com/ycisir/virtual-air-canvas"><i class="fa-brands fa-github"></i></a>
				</div>
			</div>
        </div>

    </div>

</div>

{% endblock content %}