{% extends "core/base.html" %}
{% load static %}
{% block title %} my - skills {% endblock title%}

{% block content %}
<div class="text-white mt-5 container text-center">
    <h3 class="text-white">skills</h3>
    <hr>


    <div class="row text-white text-center">

        <div class="col-sm-2">
            <img class="img-thumbnail mb-1" src="{% static 'skills/images/python.png' %}" alt="python">
            <h5 class="mb-3">Python</h5>
        </div>
        <div class="col-sm-2">
            <img class="img-thumbnail mb-1" src="{% static 'skills/images/flask.png' %}" alt="flask">
            <h5 class="mb-3">Flask</h5>
        </div>
        <div class="col-sm-2">
            <img class="img-thumbnail mb-1" src="{% static 'skills/images/django.png' %}" alt="django">
            <h5 class="mb-3">Django</h5>
        </div>
        <div class="col-sm-2">
            <img class="img-thumbnail mb-1" src="{% static 'skills/images/postgresql.png' %}" alt="postgresql">
            <h5 class="mb-3">PostgreSQL</h5>
        </div>
        <div class="col-sm-2">
            <img class="img-thumbnail mb-1" src="{% static 'skills/images/git.png' %}" alt="c++">
            <h5 class="mb-3">Git</h5>
        </div>
        <div class="col-sm-2">
            <img class="img-thumbnail mb-1" src="{% static 'skills/images/github.png' %}" alt="css3">
            <h5 class="mb-3">Github</h5>
        </div>

    </div>

    <div class="row text-white text-center mb-5">

        
        <div class="col-sm-2">
            <img class="img-thumbnail mb-1" src="{% static 'skills/images/html5.png' %}" alt="html5">
            <h5 class="mb-3">HTML</h5>
        </div>
        <div class="col-sm-2">
            <img class="img-thumbnail mb-1" src="{% static 'skills/images/css3.png' %}" alt="css3">
            <h5 class="mb-3">CSS</h5>
        </div>
        <div class="col-sm-2">
            <img class="img-thumbnail mb-1" src="{% static 'skills/images/javascript.png' %}" alt="javascript">
            <h5 class="mb-3">JavaScript</h5>
        </div>


        <div class="col-sm-2">
            <img class="img-thumbnail mb-1" src="{% static 'skills/images/numpy.png' %}" alt="numpy">
            <h5 class="mb-3">Numpy</h5>
        </div>
        
        <div class="col-sm-2">
            <img class="img-thumbnail mb-1" src="{% static 'skills/images/pandas.png' %}" alt="pandas">
            <h5 class="mb-3">Pandas</h5>
        </div>

        <div class="col-sm-2">
            <img class="img-thumbnail mb-1" src="{% static 'skills/images/bash.png' %}" alt="pandas">
            <h5 class="mb-3">Bash</h5>
        </div>
        

    </div>

    

</div>

{% endblock content %}


