{% extends "core/base.html" %}
{% load static %}

{% block content %}

<div class="py-5">
    <div class="mt-5 mx-5 text-justify">
        <h3 class="font-weight-bold">Howdy!</h3>
        <div class="px-4" style="line-height: 2rem">
            <p style="text-indent:100px; text-align: justify;">My name is <b class="text-success">Mohammad Yasir</b>, 
            a highly motivated and eager-to-learn Backend Developer. I recently graduated with a
            MSc in Computer Science from RTM Nagpur University Campus, Nagpur. Passionate about 
            building efficient and scalable backend systems that power user-facing applications. 
            excited to leverage my skills and contribute to creating robust and secure backend 
            solutions!</p>
        </div>
    </div>

    <div class="text-center mt-5 fa-2x">
        <h5 class="font-weight-bold">Connect with me</h5>
        <a class="text-black mx-3" href="https://github.com/ycisir"><i class="fa-brands fa-github"></i></a>
        <a class=" mx-3" href="https://www.linkedin.com/in/ycisir/"><i class="fa-brands fa-linkedin"></i></a>        
    </div>
    
</div>

{% endblock content %}